<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/styles.css" />
</head>
<body>

<form th:action="@{/todo/{todoId}/edit(todoId = ${todo.id})}" method="post">

    <label for="title">Todo Title</label>
    <input type="text" id="title" name="title" th:value="${todo.title}">
    <br>

    <label for="urgency">Urgent</label>
    <input type="checkbox" name="urgent" id="urgency" value="true" th:checked="${todo.urgent}">
    <br>

    <label for="done">Done</label>
    <input type="checkbox" id="done" name="done" value="true" th:checked="${todo.done}">
    <br>

    <button type="submit">Modify Todo</button>
    <a href="/todo">Cancel</a>
</form>

</body>
</html>