<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Characters </title>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <meta charset="utf-8" />
</head>
<body>
<table>
    <tr>
        <th>Name</th>
        <th>Balance</th>
        <th>Type of animal</th>
        <th>Index</th>
        <th>King</th>
    </tr>
    <tr th:each="character : ${characters}">
        <td th:text = "${character.name}"></td>
        <td th:text = "${#numbers.formatDecimal(character.balance, 0, 'COMMA', 2, 'POINT')} + ' Zebra'"></td>
        <td th:text = "${character.animalType}"></td>
        <td th:text = "${characterStat.count}"></td>
        <td th:if = "${character.isKing() == true}" th:style="|color:red|">True</td>
        <td th:if = "${character.isKing() == false}">False</td>

    </tr>
</table>
</body>
</html>