<!DOCTYPE html>
<html lang="en" xmlns:th=http://www.thymeleaf.org>
<head>
    <meta charset="UTF-8">
    <title>Chat with others</title>
</head>
<body>

<h1>Here you can chat with others</h1>
<div>
    <ul th:each="message: ${messages}" id="message-box">
        <img th:src="@{${message.getAuthor().getAvatarUrl()}}" alt="User Avatar" class="user-avatar"
             title="Click here to update profile">
        <li th:text="${message.getAuthor().getUsername()} + ' - ' + ${message.getCreated()}" id="content"></li>
        <br>
        <span th:text="${message.getContent()}"></span>

    </ul>
</div>
    <br>
<form action="/api/message/" method="post">
    <label for="message">
        Write your message:
        <input type="text" id="message" name="content" placeholder="Insert your message">
    </label>
<br>
    <button type="submit">Send message</button>
</form>
<form action="/api/user/logout" method="post">
<button type="submit" class="btn btn-secondary">Logout</button>
</form>
<button type="submit" class="btn btn-secondary"><a href="/api/user/update">Update your profile</a></button>
</body>
</html>